<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/nhanvien :: content('Dashboard', ~{this :: .content-wrapper})">

<head>
	<title></title>
</head>

<body>
	<th:block th:text="${msg}"></th:block>

	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">DANH SACH YEU CAU </h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Dashboard v1</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<form method="GET" th:action="@{/nhanvien/xemyeucau/filterByDate}">
					<div style="display: flex; align-items: center;">
						<div style="margin: 0 10px">
							<input type="date" id="from" name="from" style="border-radius: 5px;"
								placeholder="Start date...">
						</div>
						<div style="margin-right: 10px">
							<input type="date" id="to" name="to" style="border-radius: 5px;" placeholder="End date...">
						</div>
						<button type="submit"
							style="width:40; height: 40; outline: none; padding: 8px; border-radius: 50%; align-items: center;">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</form>
				<form method="GET" th:action="@{/nhanvien/xemyeucau/filterByPriority}">
					<div style="display: flex; align-items: center;">
						<select name="priorityId" style="margin-left: 10px; border-radius: 5px;padding: 10px">
							<option value="0">--ALL--</option>
							<th:block th:each="r : ${priorities}">
								<option th:value="${r.madouutien}" th:text="${r.tendouutien}"></option>
							</th:block>
						</select>
						<button type="submit"
							style="margin-left: 10px;width:40; height: 40; outline: none; padding: 21px; border-radius: 5px; display: flex; align-items: center;justify-content: center;">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</form>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<!-- Small boxes (Stat box) -->
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Ma yeu cau</th>
							<th scope="col">Tieu De</th>
							<th scope="col">Noi dung</th>
							<th scope="col">Ngay gui</th>
							<th scope="col">Do uu tien</th>
							<th scope="col">Nguoi Gui</th>
							<th scope="col">Nhan Vien Xu Ly</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="yeucau : ${yeucaus}">
							<td th:text="${yeucau.mayeucau}"></td>
							<td th:text="${yeucau.tieude}"></td>
							<td th:text="${yeucau.noidung}"></td>
							<td th:text="${yeucau.ngaygui}"></td>
							<td th:text="${yeucau.douutien.tendouutien}"></td>
							<td th:text="${yeucau.nhanvienByManvGui.username}"></td>
							<td th:utext="${yeucau.nhanvienByManvXuly?.username} ?: 'NULL'"></td>
						</tr>
					</tbody>
				</table>
				<!-- /.row -->
				<!-- Main row -->

				<!-- /.row (main row) -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>

</body>

</html>