<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="layout/nhanviensupport :: content('Dashboard', ~{this :: .content-wrapper})">

<head>
	<title></title>
</head>

<body>

	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">GUI YEU CAU </h1>
					</div>
					<!-- /.col -->
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a href="#">Home</a></li>
							<li class="breadcrumb-item active">Dashboard v1</li>
						</ol>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<!-- Small boxes (Stat box) -->
				<table class="table">
					<thead>
						<tr>
							<th scope="col">UserName</th>
							<th scope="col">HO TEN</th>
							<th scope="col">Ngay sinh</th>
							<th scope="col">Hinh Anh</th>
							<th scope="col">Role Name</th>
						</tr>
					</thead>
					<tbody>
					
					</tbody>
				</table>
				<!-- /.row -->
				<!-- Main row -->

				<!-- /.row (main row) -->
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- /.content -->
	</div>

</body>

</html>